# dependencias
node_modules/
bower_components/

# build
dist/

# firebase
.firebase/
.firebaserc

firebase.json
firebaseConfig.js
firestore.rules
firestore.indexes.json
firebaseconnect.js
firebase-debug.log

src/supabaseClient.js
src/firebaseconnect.js

# sistema
.DS_Store
.env
codigo_src.zip
*.log

# configuración y otros archivos innecesarios
package-lock.json
.vscode/
.idea/
